<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<style media="screen">
  .border {
    border: black solid 1px;
  }
  .film-container {
  }
  .overview {
    text-align: center;
    padding-left: 30px;
    padding-top: 30px;
  }
  .whole-container {
    padding: 20px;
  }

</style>

<div class="whole-container">
  <div class="film-container">
    <div class="row border">
      <div class="col-md-8 left-container border">
        <div class="row border">
          <div class="col-md-6 border">Fight Club (1999)</div>
          <div class="col-md-6 border">9/10</div>
        </div>
        <div class="row border">
          <div class="overview">
            A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.
          </div>
        </div>
        <div class="row border">
          <button type="button" name="button">Add to list</button>
        </div>
      </div>
      <div class="col-md-4 right-container border">
        <img src="https://image.tmdb.org/t/p/w185//adw6Lq9FiC9zjYEpOqfq03ituwp.jpg">
      </div>
    </div>
  </div>
