<style media="screen">
  .film-container {
    border: black solid 1px;
  }
  .title {
    border: black solid 1px;
  }
  .rating {
    border: black solid 1px;
  }
  .overview {
    border: black solid 1px;
  }
  .add-to-list {
    border: black solid 1px;
  }
  .poster_path {
    border: black solid 1px;
  }

  .container-left {
    border: red solid 1px;

  }
  .container-right {
    border: red solid 1px;

  }
</style>


<div class="film-container">
  <div class="container-left">
    <div class="title">
      Fight Club (1999)
    </div>
    <div class="rating">
    </div>
    <div class="overview">
      A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.
    </div>
    <div class="add-to-list">
      <button type="button" name="button">Add to list</button>
    </div>
  </div>
  <div class="container-right">
    <div class="poster_path">
      <img src="https://image.tmdb.org/t/p/w185//adw6Lq9FiC9zjYEpOqfq03ituwp.jpg">
    </div>
  </div>
</div>
